
@{
    ViewData["Title"] = "Order Confirmation";
}

<hr />
<main id="main">
    <!-- ======= Contact Section ======= -->
    <section class="contact" data-aos="fade-up" data-aos-easing="ease-in-out" data-aos-duration="500">
        <div class="container">

            <div class="row text-center bg-black bg-opacity-50 rounded-3 text-white">

                <div class="info-box">
                    <i class="bx bx-check-circle"></i>
                    <h3>Order Submitted!</h3>
                    <p>
                        Thank you for your order! We will get to it right away and your order will ship to you in the next [insert realistic expection here] business days.
                    </p>

                    <br />

                    <div class="offset-3 col-md-6">
                        <p>
                            Order Placed on
                            @DateTime.Now.Date.ToShortDateString() at
                            @DateTime.Now.ToShortTimeString() 
                        </p>
                    </div>


                </div>

            </div>

        </div>
    </section><!-- End Confirmation Section -->
</main>
<!-- End #main -->