@{
    ViewData["Title"] = "About";
}

<section class="page-section about-heading">
    <div class="container">
        <img class="img-fluid rounded about-heading-img mb-3 mb-lg-0" src="~/assets/img/about.jpg" alt="..." />
        <div class="about-heading-content">
            <div class="row">
                <div class="col-xl-9 col-lg-10 mx-auto">
                    <div class="bg-faded rounded p-5">
                        <h2 class="section-heading mb-4">
                            <span class="section-heading-upper">Weapons! Weapons! Weapons!</span>
                            <span class="section-heading-lower">About The Borderlands Store</span>
                        </h2>
                        <p>Here at The Borderlands Store by Marcus Munitions, we care about every single weapon that we sell.  Each weapon is carefully marked up in order to exceed our sales projections.  We understand that by maximizing our profits, we can provide the highest level of weaponry that we're willing to offer. The sky's the limit! Quite literally. Our warranty is voided as soon as the weapon enters the area where the ground meets the sky.</p>
                        <p class="mb-0">
                            We guarantee nothing because you deserve
                            <em>everything</em>.
                            White glove service for a only a small upcharge, friendly greetings when you visit- you guessed it -for only a small upcharge as well. Browse our shop and purchase something! Anything! It would be a shame if you spent so much time on our site (say maybe, enough time for our systems to track your IP address and geo-locate where you are right now) and not purchase the new weapon love of your life! Happy shopping!
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>