@model BorderlandsStore.DATA.EF.Models.Manufacturer

@{
    ViewData["Title"] = "Edit";
}
<hr />
<h1 class="text-white text-center">@ViewData["Title"] @Model.Manufacturer1</h1>

@*<h4>Manufacturer</h4>*@
<hr />
<div class="row text-white">
    <div class="col-md-4 offset-4 bg-black bg-opacity-50">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ManufacturerId" />
            <div class="form-group">
                <label asp-for="Manufacturer1" class="control-label"></label>
                <input asp-for="Manufacturer1" class="form-control" />
                <span asp-validation-for="Manufacturer1" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <label asp-for="Location" class="control-label"></label>
                <input asp-for="Location" class="form-control" />
                <span asp-validation-for="Location" class="text-danger"></span>
            </div>            
        </form>
        <br />
    </div>
</div>
<br />
<div class="form-group text-center">
    |<input type="submit" value=" Save " class="btn btn-primary btn-sm" /> |
    <a asp-action="Index" class="btn btn-secondary btn-sm">Back to List</a> |
</div>
<br />
<br />

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
