@model BorderlandsStore.DATA.EF.Models.Category




<div class="row">
    <div class="col-md-6 offset-3 pt-3">
        <form asp-action="CategoryCreate" method="post" id="CategoryCreateForm">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                @*<label asp-for="Category1" class="control-label"></label>*@
                <input asp-for="Category1" class="form-control" placeholder="Category" />
                <span asp-validation-for="Category1" class="text-danger"></span>
            </div>
            <div class="form-group">
                @*<label asp-for="CategoryDescription" class="control-label"></label>*@
                <textarea asp-for="CategoryDescription" class="form-control" placeholder="Description"></textarea>
                <span asp-validation-for="CategoryDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>



@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
